.DS_Store
# these files are too large for git
lecture notes
lectures
*.tar
practicum/test_practica/session1/data
practicum/test_practica/session2/data
practicum/test_practica/session3/data
practicum/.DS_Store

practicum/session*/solutions_session*/data
